@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

/* Applying the font to the .Name class */
.Name {
    padding: 120px 70px;
    font-size: 90px;
    color: #000000;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
    /* Applying Exo 2 font */
}

.summary {
    padding: 20px 70px;
    color: #000000;
    font-size: 25px;
    font-weight: 250;
    font-family: 'Exo 2',sans-serif;
}