.footer {
    text-align: center;
    padding: 20px 0;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Exo 2', sans-serif;
    margin-top: 50px;
}

.footer-icon-link {
    margin: 0 15px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.footer-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.footer-icon-link:hover .footer-icon {
    transform: scale(1.2);
    /* Slight zoom-in effect on hover */
}
html {
    scroll-behavior: smooth;
}