@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

.Navbar {
    top: 0;
    left: 0;
    position: fixed;
    width: calc(100% - 140px);
    background-color: black;
    padding: 25px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    border-bottom: 2px solid #000000;
}

.Navbar-links {
    display: flex;
    gap: 20px;
    width: 100%;
}

.Navbar-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s;
    font-family: 'Exo 2', Arial, sans-serif;
}

.Navbar-link:hover {
    color: #cca9f2;
}
.Navbar-link.active {
    color: #cca9f2;
}
/* Push the 'Contact Me' link to the right */
.Navbar .Navbar-links .contact {
    margin-left: auto;
    /* This pushes the 'contact' link to the right */
}
html {
    scroll-behavior: smooth;
}